{%extends 'base.html' %}
{% block title %} Contato {% endblock title %}
{% block main %}

<p> Formulário de Contato</p>
<hr>
<h1><i> Em Manutenção </i></h1>

</table>
{% endblock main%}
{%block atoa %} {% endblock atoa %}
