{%extends 'base.html' %}
{% block main %}
{% block title %} Home {% endblock title %}
<table> 
	<tr>
	<th>ID</th>
		<th>NOME</th>
	</tr>

	{% for u in usuarios %}
			
	<tr>
		<td>{{u.id}}</td>
		<td>{{u.nome}}</td>
	</tr>

	{% endfor %}
</table>
{% endblock main%}
{%block atoa %} {% endblock atoa %}
